#TopBanner {
    background-image: url("banner.png");
    height: 400px;
    margin: 0;
}

#Navigation {
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    border: solid white 2px;
}

#Navigation ul { /* For the navigation bar */

    background-color: black;

    margin: 0;
    display: flex;
    justify-content: center;

    font-size: 20pt;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

li {
    margin: 0 50px 0 50px;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #86ceeb;
}

thead {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.TitleTable {
    font-size: 24pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.TitleLabels {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    text-align: center;
    background-color: black;
    color: white;
    border: 2pt solid black;
    font-weight: bold;
}

td {
    width: 200px;
}

tbody {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    text-align: center;
    font-weight: bold;
}

#footstyles {
    display: flex;
    color: white;
    background-color: black;
    height: 60px;
    font-size: 16pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 0px;
    margin-top: 25px;
    border: 2px solid white;
}

#foottext {
    display: flex;
    margin-right: 10px;
    text-align: end;
    margin-left: 70%;
}